$backgroundImg: url(../img/header_background_v2.jpg);
$textFontTitle: "Palatino Linotype",serif;
$textFontMain: "Book Antiqua", serif;
$textFontDate: Palatino, serif;
$dateTextColor: #8a979f;
$blockHeaderColor: #8e8d92;
$blockTextColor: #8a979f;
$buttonColor: #0401ac;
$headerColor: #ff5726;
$blockBackgroundColor: #ffffff;
$mainBackroundColor:#f5f5f5;
$backgroungHeight:  1100px;
$borderColor: #8a979f;
$h1Color: #808080;
$margin: 10%;