$backgroundImg: url(../img/header_background_v1.jpg);
$textFontTitle: Roboto, Helvetica, sans-serif;
$textFontMain: Cantarell, Helvetica, sans-serif;
$textFontDate: Ubuntu, Helvetica, sans-serif;
$dateTextColor: #ff0000;
$blockHeaderColor: #0097a7;
$blockTextColor: #000000;
$buttonColor: #01acac;
$headerColor: #ececec;
$blockBackgroundColor: #d3d3d3;
$mainBackroundColor: #ffffff;
$backgroungHeight:  1400px;
$borderColor: #01acac;
$h1Color: #000000;
$margin: 25%;