.header h1 {
    width:100%;
    text-align: center;
}
.form form {
    display: flex;
    justify-content: space-around;
    
}
.form input {
    width: 90%;
    height: 25px;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.body footer {
    position: fixed;
    bottom: 0;
    width:100%;
}
