@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Cantarell");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
.main-wrapper {
  background-color: #f5f5f5; }
  .main-wrapper header {
    background: url(../img/header_background_v2.jpg) no-repeat center center;
    background-size: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    position: relative; }
    .main-wrapper header img {
      width: 300px; }
    .main-wrapper header nav {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 30px; }
      .main-wrapper header nav a {
        text-decoration: none;
        font-family: "Palatino Linotype", serif;
        font-size: 24px;
        font-style: normal;
        text-transform: uppercase;
        margin: 150px;
        color: #ff5726; }
    .main-wrapper header section {
      margin-top: 10%;
      justify-content: center;
      text-align: center; }
      .main-wrapper header section h1 {
        font-family: "Palatino Linotype", serif;
        font-size: 24px;
        font-style: normal;
        text-transform: uppercase;
        color: #ff5726; }
      .main-wrapper header section a {
        padding-left: 75px;
        padding-right: 75px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        background-color: #0401ac;
        color: white;
        font-family: "Palatino Linotype", serif;
        font-size: 24px;
        font-style: normal;
        text-transform: uppercase;
        border: none;
        width: 250px;
        height: 40px; }
  .main-wrapper main {
    position: relative;
    width: 65%;
    margin: auto; }
    .main-wrapper main .toolbar input {
      border-color: #8e8d92;
      text-align: end; }
    .main-wrapper main input {
      position: absolute;
      right: 0;
      margin: 10px; }
    .main-wrapper main section {
      display: flex;
      flex-direction: column; }
      .main-wrapper main section h1 {
        display: inline-flex;
        justify-content: flex-end;
        margin-bottom: 0;
        margin-top: 40px;
        padding-right: 10px;
        color: #808080;
        font-family: "Palatino Linotype", serif;
        font-size: 24px;
        font-style: normal;
        text-transform: uppercase; }
      .main-wrapper main section article {
        position: relative;
        display: flex;
        margin-bottom: 30px;
        background-color: #ffffff; }
        .main-wrapper main section article .post-description {
          margin: 10px;
          font-family: Palatino, serif;
          font-size: 15px;
          font-style: normal;
          color: #8a979f; }
        .main-wrapper main section article h3 {
          margin: 10px;
          color: #8e8d92;
          border-top: 2px solid #8a979f;
          font-family: "Palatino Linotype", serif;
          font-size: 24px;
          font-style: normal;
          text-transform: uppercase; }
        .main-wrapper main section article p {
          margin: 10px;
          font-family: "Book Antiqua", serif;
          font-size: 18px;
          font-style: normal;
          color: #8a979f; }
        .main-wrapper main section article button {
          position: absolute;
          bottom: 20%;
          right: 10px;
          background-color: #0401ac;
          color: white;
          font-family: "Palatino Linotype", serif;
          font-size: 24px;
          font-style: normal;
          text-transform: uppercase;
          border: none;
          width: 250px;
          height: 40px; }
        .main-wrapper main section article img {
          padding: 10px; }
    .main-wrapper main .about div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-family: "Palatino Linotype", serif;
      font-size: 24px;
      font-style: normal;
      text-transform: uppercase; }
      .main-wrapper main .about div p {
        text-transform: none;
        margin-bottom: 10px;
        font-family: "Book Antiqua", serif;
        font-size: 18px;
        font-style: normal;
        color: #8a979f; }
    .main-wrapper main .about img {
      width: 100%; }
  .main-wrapper #contact h4 {
    text-align: end;
    text-transform: uppercase;
    font-family: "Palatino Linotype", serif;
    margin-top: 0;
    padding-right: 10px;
    color: #808080; }
  .main-wrapper form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    width: 1200px; }
    .main-wrapper form fieldset {
      position: relative;
      text-align: end;
      border: none;
      margin: auto;
      padding: 5px;
      color: #8e8d92;
      font-family: "Palatino Linotype", serif; }
      .main-wrapper form fieldset div {
        width: 580px;
        height: 70px;
        padding: 5px; }
        .main-wrapper form fieldset div input {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 98%;
          height: 50%;
          align-content: flex-end;
          margin: 0; }
      .main-wrapper form fieldset button {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #0401ac;
        color: white;
        font-family: "Palatino Linotype", serif;
        font-size: 24px;
        font-style: normal;
        text-transform: uppercase;
        border: none;
        width: 250px;
        height: 40px; }
    .main-wrapper form textarea {
      width: 1190px; }
  .main-wrapper footer {
    font-family: Palatino, serif; }
